.display_none{
    /* display: none; */
}
/* --------放大鏡----- */
.fa-search{
    /* position: absolute;
    top: 0; */
    /* display: block;
    z-index: 1000; */
}
.shop_mt_80{
    /* margin: 0;
    padding: 0;
    margin-top: 40px; */
}
.trip_category{

}
.py-2{

}
.trip_category ul{
    /* list-style-type: none;
    padding: 0;
    margin: 0; */
}
.col-3{
    /* padding-left: 0; */
}
/* col-xl-4 col-lg-4 col-md-4 col-sm-6 */
/* ----------------------手機板--------------------------- */
@media only screen and (max-width: 1000px) {}

.shop_fa_search{
    display: none;
}
/* ------電腦版---- */
/* .col-xl-4 .col-md-4 .col-sm-6 */


/* <!-- ---fa-search放大鏡-- --> */
                /* <i class="fa fa-search fa-lg shop_fa_search"></i> */